<!DOCTYPE html>
<html lang="en">
<head>
    <title>Udacity FEND Capstone</title>
</head>
<body>
<div class="main">
    <header>
        <h1>Travel Planner</h1>
    </header>
    <section id="form-section">
        <form id="form" class="form">
            <label for="destination">My trip to: </label>
            <input id="destination" type="text" placeholder="Enter cityname (should be in US)" required/> <br/>
            <label for="destination">Departure date: </label>
            <input id="departure" type="date" required/> <br/>
            <label for="destination">Return date: </label>
            <input id="return" type="date" required/> <br/>
            <input type="submit" name="" value="submit">
        </form>
    </section>
    <br/>

    <section id="results-section" class="cards">
        <h3>Here are your travel details:</h3>
        <div class="card">
            <img id="results-img" class="r-image"/>
            <div id="results" class="results r-text"></div>
        </div>
    </section>

    <section id="error-section">
        <br/><br/><br/><br/><br/>
        <div id="error" class="error"></div>
    </section>

    <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
            console.log('found serviceworker!');
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js');
            });
          }
        </script>
</div>
</body>
</html>